In [1]:
#============================
# Import required libraries
#============================

import pandas as pd
from simpledbf import Dbf5
import os

SQLalchemy is not installed. No support for SQL output.

In [9]:
#==========================================
# Build paths to .dbf tables
#==========================================

# Store highest common directory path
scenarios = os.path.join(os.getcwd(), r'TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios')

# Store path to 2019
path_2019 = os.path.join(scenarios, r'BY_2019\7_PostProcessing\Access_to_Opportunity_2019.dbf')
print(path_2019 + '\n')

# Store path to 2030
path_2030 = os.path.join(scenarios, r'Need_2030\7_PostProcessing\Access_to_Opportunity_2030.dbf')
print(path_2030 + '\n')

# Store path to 2040
path_2040 = os.path.join(scenarios, r'Need_2040\7_PostProcessing\Access_to_Opportunity_2040.dbf')
print(path_2040 + '\n')

# Store path to 2050
path_2050 = os.path.join(scenarios, r'Need_2050\7_PostProcessing\Access_to_Opportunity_2050.dbf')
print(path_2050 + '\n')

E:\Projects\Merge-ATO-Outputs\TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios\BY_2019\7_PostProcessing\Access_to_Opportunity_2019.dbf

E:\Projects\Merge-ATO-Outputs\TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios\Need_2030\7_PostProcessing\Access_to_Opportunity_2030.dbf

E:\Projects\Merge-ATO-Outputs\TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios\Need_2040\7_PostProcessing\Access_to_Opportunity_2040.dbf

E:\Projects\Merge-ATO-Outputs\TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios\Need_2050\7_PostProcessing\Access_to_Opportunity_2050.dbf

In [10]:
#==========================================
# Load dbf tables into pandas dataframes
#==========================================

# 2019
dbf_2019 = Dbf5(path_2019)
df_2019 = dbf_2019.to_dataframe()

# 2030
dbf_2030 = Dbf5(path_2030)
df_2030 = dbf_2030.to_dataframe()

# 2040
dbf_2040 = Dbf5(path_2040)
df_2040 = dbf_2040.to_dataframe()

# 2050
dbf_2050 = Dbf5(path_2050)
df_2050 = dbf_2050.to_dataframe()

   TAZID  CO_TAZID  DEVACRES    HH   JOB  AUTO_JB  AUTO_HH  TRAN_JB  TRAN_HH  \
0      1     30001    374.61   1.1   0.0    30077    20324        0        0
1      2     30002    638.02  15.2   3.6    32960    22318        0        0
2      3     30003    470.79   5.1   2.6    33930    22989        0        0
3      4     30004    779.84  21.0  24.1    33229    22504        0        0
4      5     30005    395.38  30.5  69.5    41843    28507        0        0

   COMP_AUTO  COMP_TRAN  AUTO_JB_WT  AUTO_HH_WT  TRAN_JB_WT  TRAN_HH_WT
0      30077          0       33085           0           0           0
1      31728          0      500993       80346           0           0
2      31525          0      173044       59772           0           0
3      29066          0      697807      542343           0           0
4      34409          0     1276226     1981242           0           0

In [18]:
#==========================================
# Preview tables
#==========================================

# Show the first 5 rows of a table
print(df_2019.head())
print()

# Show number of rows and columns
print(df_2019.shape)
print()

# Show column names
print(list(df_2019.columns))
print()
print(list(df_2030.columns))
print()

   TAZID  CO_TAZID  DEVACRES    HH   JOB  AUTO_JB  AUTO_HH  TRAN_JB  TRAN_HH  \
0      1     30001    374.61   1.1   0.0    30077    20324        0        0
1      2     30002    638.02  15.2   3.6    32960    22318        0        0
2      3     30003    470.79   5.1   2.6    33930    22989        0        0
3      4     30004    779.84  21.0  24.1    33229    22504        0        0
4      5     30005    395.38  30.5  69.5    41843    28507        0        0

   COMP_AUTO  COMP_TRAN  AUTO_JB_WT  AUTO_HH_WT  TRAN_JB_WT  TRAN_HH_WT
0      30077          0       33085           0           0           0
1      31728          0      500993       80346           0           0
2      31525          0      173044       59772           0           0
3      29066          0      697807      542343           0           0
4      34409          0     1276226     1981242           0           0

(2881, 15)

['TAZID', 'CO_TAZID', 'DEVACRES', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB', 'TRAN_HH', 'COMP_AUTO', 'COMP_TRAN', 'AUTO_JB_WT', 'AUTO_HH_WT', 'TRAN_JB_WT', 'TRAN_HH_WT']

['TAZID', 'CO_TAZID', 'DEVACRES', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB', 'TRAN_HH', 'COMP_AUTO', 'COMP_TRAN', 'AUTO_JB_WT', 'AUTO_HH_WT', 'TRAN_JB_WT', 'TRAN_HH_WT']

In [19]:
#==========================================
# Prepping and Formatting tables 
#==========================================

# Create the base table
base_table = df_2019[['TAZID', 'CO_TAZID', 'DEVACRES']].copy()

# Desired columns to subset by 
columns = ['CO_TAZID', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB', 'TRAN_HH', \
           'COMP_AUTO', 'COMP_TRAN']

# subset tables to desired columns
df_2019 = df_2019[columns].copy()
df_2030 = df_2030[columns].copy()
df_2040 = df_2040[columns].copy()
df_2050 = df_2050[columns].copy()

# Show Column names before conversion
print("ATO 2040 Column names (BEFORE):")
print(list(df_2040.columns))
print()

# Rename columns, concatenating year to the end
df_2019.columns = ['CO_TAZID', 'HH_19', 'JOB_19', 'JOBAUTO_19', 'HHAUTO_19', 'JOBTRANSIT_19', 'HHTRANSIT_19', \
           'COMPAUTO_19', 'COMPTRANSIT_19']

df_2030.columns = ['CO_TAZID', 'HH_30', 'JOB_30', 'JOBAUTO_30', 'HHAUTO_30', 'JOBTRANSIT_30', 'HHTRANSIT_30', \
           'COMPAUTO_30', 'COMPTRANSIT_30']

df_2040.columns = ['CO_TAZID', 'HH_40', 'JOB_40', 'JOBAUTO_40', 'HHAUTO_40', 'JOBTRANSIT_40', 'HHTRANSIT_40', \
           'COMPAUTO_40', 'COMPTRANSIT_40']

df_2050.columns = ['CO_TAZID', 'HH_50', 'JOB_50', 'JOBAUTO_50', 'HHAUTO_50', 'JOBTRANSIT_50', 'HHTRANSIT_50', \
           'COMPAUTO_50', 'COMPTRANSIT_50']

# Show Column names after conversion
print("ATO 2040 Column names (AFTER):")
print(list(df_2040.columns))
print()

ATO 2040 Column names (BEFORE):
['CO_TAZID', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB', 'TRAN_HH', 'COMP_AUTO', 'COMP_TRAN']

ATO 2040 Column names (AFTER):
['CO_TAZID', 'HH_40', 'JOB_40', 'JOBAUTO_40', 'HHAUTO_40', 'JOBTRANSIT_40', 'HHTRANSIT_40', 'COMPAUTO_40', 'COMPTRANSIT_40']

In [ ]:
#==========================================
# Join the tables 
#==========================================

# Join tables to the base table using CO_TAZID field
base_table = base_table.merge(df_2019, left_on = 'CO_TAZID', right_on = 'CO_TAZID' , how = 'inner')
base_table = base_table.merge(df_2030, left_on = 'CO_TAZID', right_on = 'CO_TAZID' , how = 'inner')
base_table = base_table.merge(df_2040, left_on = 'CO_TAZID', right_on = 'CO_TAZID' , how = 'inner')
base_table = base_table.merge(df_2050, left_on = 'CO_TAZID', right_on = 'CO_TAZID' , how = 'inner')