## Merge-ATO-Outputs.py

This script demonstrates how to merge Access to Opportunities (ATO) tables from multiple years into one table. It also formats the columns to match the schema of the table at:

https://data.wfrc.org/datasets/access-to-opportunities-work-related-taz-based?geometry=-117.122%2C40.025%2C-106.669%2C41.481

#### Import required libraries

In [47]:
import pandas as pd
from simpledbf import Dbf5
import os

#### Set styling for tables

In [48]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

#### Build paths to .dbf tables

In [49]:
# Store highest common directory path
scenarios = os.path.join(os.getcwd(), r'TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios')

# Store path to 2019
path_2019 = os.path.join(scenarios, r'BY_2019\7_PostProcessing\Access_to_Opportunity_2019.dbf')
print(path_2019 + '\n')

# Store path to 2030
path_2030 = os.path.join(scenarios, r'Need_2030\7_PostProcessing\Access_to_Opportunity_2030.dbf')
print(path_2030 + '\n')

# Store path to 2040
path_2040 = os.path.join(scenarios, r'Need_2040\7_PostProcessing\Access_to_Opportunity_2040.dbf')
print(path_2040 + '\n')

# Store path to 2050
path_2050 = os.path.join(scenarios, r'Need_2050\7_PostProcessing\Access_to_Opportunity_2050.dbf')
print(path_2050 + '\n')

E:\Projects\Merge-ATO-Outputs\TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios\BY_2019\7_PostProcessing\Access_to_Opportunity_2019.dbf

E:\Projects\Merge-ATO-Outputs\TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios\Need_2030\7_PostProcessing\Access_to_Opportunity_2030.dbf

E:\Projects\Merge-ATO-Outputs\TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios\Need_2040\7_PostProcessing\Access_to_Opportunity_2040.dbf

E:\Projects\Merge-ATO-Outputs\TDM\0 - ModelDev\Official Release\v8.3.1\WF TDM v8.3.1 - 2020-05-08\Scenarios\Need_2050\7_PostProcessing\Access_to_Opportunity_2050.dbf

#### Load dbf tables into pandas dataframes

In [50]:
# Read in 2019 as dbf5 object
dbf_2019 = Dbf5(path_2019)

# Read 2019 dbf5 as pandas dataframe object
df_2019 = dbf_2019.to_dataframe()

# 2030
dbf_2030 = Dbf5(path_2030)
df_2030 = dbf_2030.to_dataframe()

# 2040
dbf_2040 = Dbf5(path_2040)
df_2040 = dbf_2040.to_dataframe()

# 2050
dbf_2050 = Dbf5(path_2050)
df_2050 = dbf_2050.to_dataframe()

#### Preview tables (Optional)

In [51]:
# Show the first 5 rows of a table
df_2019.head()

,TAZID,CO_TAZID,DEVACRES,HH,JOB,AUTO_JB,AUTO_HH,TRAN_JB,TRAN_HH,COMP_AUTO,COMP_TRAN,AUTO_JB_WT,AUTO_HH_WT,TRAN_JB_WT,TRAN_HH_WT
0,1,30001,374.61,1.1,0.0,30077,20324,0,0,30077,0,33085,0,0,0
1,2,30002,638.02,15.2,3.6,32960,22318,0,0,31728,0,500993,80346,0,0
2,3,30003,470.79,5.1,2.6,33930,22989,0,0,31525,0,173044,59772,0,0
3,4,30004,779.84,21.0,24.1,33229,22504,0,0,29066,0,697807,542343,0,0
4,5,30005,395.38,30.5,69.5,41843,28507,0,0,34409,0,1276226,1981242,0,0

In [52]:
# Show number of rows and columns
print(df_2019.shape)
print()

# Show column names
print(list(df_2019.columns))
print()
print(list(df_2030.columns))
print()

(2881, 15)

['TAZID', 'CO_TAZID', 'DEVACRES', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB', 'TRAN_HH', 'COMP_AUTO', 'COMP_TRAN', 'AUTO_JB_WT', 'AUTO_HH_WT', 'TRAN_JB_WT', 'TRAN_HH_WT']

['TAZID', 'CO_TAZID', 'DEVACRES', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB', 'TRAN_HH', 'COMP_AUTO', 'COMP_TRAN', 'AUTO_JB_WT', 'AUTO_HH_WT', 'TRAN_JB_WT', 'TRAN_HH_WT']

#### Prepping and Formatting tables

In [53]:
# Create the base table
base_table = df_2019[['TAZID', 'CO_TAZID', 'DEVACRES']].copy()

# Desired columns to subset by 
columns = ['CO_TAZID', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB', 'TRAN_HH', \
           'COMP_AUTO', 'COMP_TRAN']

# subset tables to desired columns
df_2019_subset = df_2019[columns].copy()
df_2030_subset = df_2030[columns].copy()
df_2040_subset = df_2040[columns].copy()
df_2050_subset = df_2050[columns].copy()

# Show Column names before conversion
print("ATO 2040 Column names (BEFORE):")
print(list(df_2040_subset.columns))
print()

# Rename columns, concatenating year to the end
df_2019_subset.columns = ['CO_TAZID', 'HH_19', 'JOB_19', 'JOBAUTO_19', 'HHAUTO_19', 'JOBTRANSIT_19', 'HHTRANSIT_19', \
           'COMPAUTO_19', 'COMPTRANSIT_19']

df_2030_subset.columns = ['CO_TAZID', 'HH_30', 'JOB_30', 'JOBAUTO_30', 'HHAUTO_30', 'JOBTRANSIT_30', 'HHTRANSIT_30', \
           'COMPAUTO_30', 'COMPTRANSIT_30']

df_2040_subset.columns = ['CO_TAZID', 'HH_40', 'JOB_40', 'JOBAUTO_40', 'HHAUTO_40', 'JOBTRANSIT_40', 'HHTRANSIT_40', \
           'COMPAUTO_40', 'COMPTRANSIT_40']

df_2050_subset.columns = ['CO_TAZID', 'HH_50', 'JOB_50', 'JOBAUTO_50', 'HHAUTO_50', 'JOBTRANSIT_50', 'HHTRANSIT_50', \
           'COMPAUTO_50', 'COMPTRANSIT_50']

# Show Column names after conversion
print("ATO 2040 Column names (AFTER):")
print(list(df_2040_subset.columns))
print()

ATO 2040 Column names (BEFORE):
['CO_TAZID', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB', 'TRAN_HH', 'COMP_AUTO', 'COMP_TRAN']

ATO 2040 Column names (AFTER):
['CO_TAZID', 'HH_40', 'JOB_40', 'JOBAUTO_40', 'HHAUTO_40', 'JOBTRANSIT_40', 'HHTRANSIT_40', 'COMPAUTO_40', 'COMPTRANSIT_40']

#### Join the tables (Method #1)

In [54]:
# Join tables to the base table using CO_TAZID field
ato_table = base_table

ato_table = ato_table.merge(df_2019_subset, left_on = 'CO_TAZID', right_on = 'CO_TAZID' , how = 'inner')
ato_table = ato_table.merge(df_2030_subset, left_on = 'CO_TAZID', right_on = 'CO_TAZID' , how = 'inner')
ato_table = ato_table.merge(df_2040_subset, left_on = 'CO_TAZID', right_on = 'CO_TAZID' , how = 'inner')
ato_table = ato_table.merge(df_2050_subset, left_on = 'CO_TAZID', right_on = 'CO_TAZID' , how = 'inner')

#### Join the tables (Method #2)

In [55]:
# store ATO by year into list
tables = [df_2019_subset, df_2030_subset, df_2040_subset, df_2050_subset]

# Use loop to join each year table to the base table using CO_TAZID field
ato_table = base_table

for table in tables:
    ato_table = ato_table.merge(table, left_on = 'CO_TAZID', right_on = 'CO_TAZID' , how = 'inner')

print(ato_table.shape)

(2881, 35)

In [56]:
# Show first 5 rows of merged table
ato_table.head()

,TAZID,CO_TAZID,DEVACRES,HH_19,JOB_19,JOBAUTO_19,HHAUTO_19,JOBTRANSIT_19,HHTRANSIT_19,COMPAUTO_19,COMPTRANSIT_19,HH_30,JOB_30,JOBAUTO_30,HHAUTO_30,JOBTRANSIT_30,HHTRANSIT_30,COMPAUTO_30,COMPTRANSIT_30,HH_40,JOB_40,JOBAUTO_40,HHAUTO_40,JOBTRANSIT_40,HHTRANSIT_40,COMPAUTO_40,COMPTRANSIT_40,HH_50,JOB_50,JOBAUTO_50,HHAUTO_50,JOBTRANSIT_50,HHTRANSIT_50,COMPAUTO_50,COMPTRANSIT_50
0,1,30001,374.61,1.1,0.0,30077,20324,0,0,30077,0,1.2,0.0,36176,25543,0,0,36176,0,1.6,0.0,36928,27994,0,0,36928,0,2.8,0.0,36346,28902,0,0,36346,0
1,2,30002,638.02,15.2,3.6,32960,22318,0,0,31728,0,15.3,3.6,39705,28076,0,0,38328,0,15.6,3.5,40523,30751,0,0,39370,0,16.7,3.6,39895,31760,0,0,38950,0
2,3,30003,470.79,5.1,2.6,33930,22989,0,0,31525,0,5.2,2.6,40892,28928,0,0,38235,0,5.6,2.6,41731,31676,0,0,39550,0,6.6,2.6,41088,32720,0,0,39468,0
3,4,30004,779.84,21.0,24.1,33229,22504,0,0,29066,0,21.0,23.6,40035,28312,0,0,35453,0,21.0,26.9,40861,31009,0,0,36594,0,21.0,34.4,40229,32026,0,0,36130,0
4,5,30005,395.38,30.5,69.5,41843,28507,0,0,34409,0,30.8,69.3,50621,35942,0,0,42366,0,31.6,70.3,51647,39319,0,0,44617,0,34.8,73.1,50882,40623,0,0,45122,0

#### Exporting

In [57]:
# Store output folder path. There is a hidden .gitignore file here so files written won't be pushed to github
temp = os.path.join(os.getcwd(), 'Results')

# Create name for output csv
out_table = os.path.join(temp, 'ATO.csv')

# export data frame to csv
ato_table.to_csv(out_table, index=False)

#### The final step would be joining the output table to a TAZ shapefile/feature dataset using ArcGIS.